<div class="grid_12">
  <div class="box articles">
    <div class="block" id="articles">

      <h2>Oauth Docs</h2>
      
      <p>Oauth shouldn't be hard, and neither should docs</p>
      
      <h3>Quick Links</h3>
      
      <ul>
        <li><%= link_to 'Quick Start',  oauth_doc_path(:quick_start) %></li>
        <li><%= link_to 'Curl',   oauth_doc_path(:curl) %></li>
        <li><%= link_to 'Oauth',  oauth_doc_path(:oauth) %></li>
      </ul>
    </div>
  </div>
</div>

