<div class="grid_12">
  <div class="box articles">
    <div class="block" id="articles">
			<%= render_doc(@doc) %>

			<%= link_to ' â† back',  oauth_docs_path, :class => 'button' %>
		</div>
  </div>
</div>